.TodoHome {
  .todo-home-container {
    display: flex;
    flex-direction: row;

    > div {
      flex: 1;
      border: 1px solid #afafaf;
      padding: 10px;
      &:first-of-type {
        margin-right: 5px;
      }
      &:last-of-type {
        margin-left: 5px;
      }
    }
  }
}
